.list {
    margin-bottom: 40px;
    margin-top: 40px;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dcdcdc;
        gap: 20px;
        padding: 10px 0;
        &:first-child {
            border-top: 1px solid #dcdcdc;
        }
        p {
            margin-left: 30px;
            width: 90px;
            height: 120px;
            overflow: hidden;
            position: relative;
            border: 1px solid silver;
            box-sizing: border-box;
            img {
                position: absolute;
                left: -10px;
                width: 130%;
            }
        }
        div {
            width: 60%;

            strong {
                display: block;
                font-size: 16px;
            }
            span {
                display: block;
                font-size: 15px;
                margin-top: 10px;
            }
        }
        button {
            width: 80px;
            height: 36px;
            border: none;
            background: #333;
            color: #fff;
            font-size: 14px;
            border-radius: 16px;
            margin-right: 30px;
            
        }
    }
}
