.molist {
  width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.molist li {

  width: 320px;
  border: 1px solid #000;
  padding: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;

}

/* 이미지 영역 (포스터 비율) */
.molist li img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
  border: 1px solid #000;
}

/* 제목 */
.molist li h3 {
  font-size: 26px;
  font-weight: 800;
  margin: 16px 0 10px;
}

/* 기본 텍스트 */
.molist li p {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 1.4;
}

/* 설명 텍스트만 조금 여유 */
.molist li p:nth-of-type(3) {
  margin-top: 8px;
}
