.tag {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tag li {
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    background: #333;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
}

.tag li:last-child {
    margin-right: 0;
}

.tag li.on {
    background: #eb72d4;
}
