#header {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

#header .inner {
    height: 80px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    position: relative;
}

#header h1 img {
    height: 32px;
}
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav ul {
    display: flex;
    gap: 70px;
}

.nav a {
    font-size: 15px;
    font-weight: 500;
}
