.tag {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* li */
.tag li {
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    background: #333;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
}

/* 마지막 li */
.tag li:last-child {
    margin-right: 0;
}

/* 활성화 상태 */
.tag li.on {
    background: #eb72d4;
}
