.formadd {
    padding: 20px;
    background: #f5f5f5;
    margin: 20px auto;
    width: 800px;
    border: 1px solid #e87bc2;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        label {
            display: inline-block;
            width: 60px;
        }
        input {
            height: 26px;
            margin-left: 20px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        &:nth-child(3) {
            margin-bottom: 20px;
            input {
                width: 280px;
            }
        }
        button {
            width: 300px;
            height: 36px;
            border: none;
            background: #333;
            color: #fff;
            font-size: 14px;
            border-radius: 16px;
            margin-top: 20px;
        }
    }
}
