
.movie {
    width: 1600px;
    margin: auto;
    h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding: 20px 0;
    }
}
